PROCESOR.qws
PROCESOR.qsf
ALU.vhd.bak
CLOCK.vhd.bak
IMR.vhd.bak
IR.vhd.bak
PC.vhd.bak
REG_1.vhd.bak
REG_2.vhd.bak
db/PROCESOR.db_info
db/PROCESOR.sld_design_entry.sci
PROCESOR.qsf
ACC.vhd.bak
MAR.vhd.bak
MBR.vhd.bak
db/PROCESOR.quiproj.17116.rdr.flock
db/PROCESOR.db_info
Memory.vhd.bak
db/PROCESOR.db_info
db/PROCESOR.db_info
db/PROCESOR.db_info
PROCESOR.qsf
db/PROCESOR.db_info
db/PROCESOR.quiproj.20376.rdr.flock
db/PROCESOR.map.qmsg
db/PROCESOR.db_info
db/PROCESOR.cmp.rdb
db/prev_cmp_PROCESOR.qmsg
CU.vhd.bak
buf.vhd.bak
REGISTER.vhd.bak
System.vhd.bak
output_files/PROCESOR.map.summary
output_files/PROCESOR.map.rpt
output_files/PROCESOR.flow.rpt
IR_DECODER.vhd.bak
db/PROCESOR.map_bb.hdb
db/PROCESOR.map.qmsg
db/PROCESOR.db_info
Procesor.mpf
Procesor.cr.mti
procesor_bartek.cr.mti
procesor_bartek.mpf
work/_info
work/_lib1_8.qpg
work/_lib1_8.qtl
work/_vmake
work/_lib1_8.qdb
work/_lib.qdb
transcript
work/_lib1_9.qdb
work/_lib1_9.qpg
work/_lib1_9.qtl
work/_lib1_11.qdb
work/_lib1_11.qpg
work/_lib1_11.qtl
Procesor.cr.mti
Procesor.mpf

Testing.cr.mti
Testing.mpf
